/* ------------------------------------------------------------ 
Fonts setup
---------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

/* ------------------------------------------------------------ 
Color setup
---------------------------------------------------------------*/
.contenedorSigafLandingPage {
  --primary: #3155e7;
  --primary-dark: #2045d6;
  --black: #010101;
  --gray-1: #788190;
  --gray-2: #d3d4db;
  --white: #ffffff;
  --body: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--body);
}

/* ------------------------------------------------------------ 
Setup components
---------------------------------------------------------------*/
/* a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }
    
 */

 /* 
 PORTADA 1
 */

 #features-two .img-thumb {
  margin-bottom: 15px;
}

.mt {
  margin-top: 80px;
}

.text-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.text-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

.text-wrapper h3 {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
.text-wrapper p {
  font-size: 17px;
  font-weight: 600;
}

.text-wrapper .btn-rm {
  margin-top: 15px;
}
 /* 
 HEADER
 */
 .bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
 /*===========================
    2.HEADER css 
===========================*/
/*===== NAVBAR ONE =====*/
.navgition {
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .navgition.navgition-transparent {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99; }
  .navgition.sticky {
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .navgition .navbar {
    position: relative;
    padding: 0; }
    .navgition .navbar .navbar-toggler .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: #121212;
      margin: 5px 0;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    .navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
      opacity: 0; }
    .navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: -7px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navgition .navbar .navbar-collapse {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); } }
    @media (max-width: 767px) {
      .navgition .navbar .navbar-collapse {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); } }
    .navgition .navbar .navbar-nav .nav-item {
      margin: 0 16px;
      position: relative; }
      .navgition .navbar .navbar-nav .nav-item a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        padding: 26px 0;
        color: #121212;
        text-transform: uppercase;
        position: relative;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navgition .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block; } }
        @media (max-width: 767px) {
          .navgition .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block; } }
        .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
          position: absolute;
          content: '';
          width: 8px;
          height: 4px;
          background-color: #02a14a;
          left: 50%;
          margin: 0 2px;
          bottom: 14px;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
              display: none; } }
          @media (max-width: 767px) {
            .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
              display: none; } }
        .navgition .navbar .navbar-nav .nav-item a::after {
          left: auto;
          right: 50%; }
      .navgition .navbar .navbar-nav .nav-item.active > a, .navgition .navbar .navbar-nav .nav-item:hover > a {
        color: #02a14a; }
        .navgition .navbar .navbar-nav .nav-item.active > a::before, .navgition .navbar .navbar-nav .nav-item.active > a::after, .navgition .navbar .navbar-nav .nav-item:hover > a::before, .navgition .navbar .navbar-nav .nav-item:hover > a::after {
          opacity: 1; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navgition .navbar .navbar-social {
        position: absolute;
        right: 70px;
        top: 7px; } }
    @media (max-width: 767px) {
      .navgition .navbar .navbar-social {
        position: absolute;
        right: 60px;
        top: 7px; } }
    .navgition .navbar .navbar-social span {
      font-size: 16px;
      font-weight: 700;
      color: #6c6c6c;
      line-height: 24px;
      margin-right: 14px; }
    .navgition .navbar .navbar-social ul li {
      display: inline-block;
      margin-right: 5px; }
      .navgition .navbar .navbar-social ul li a {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 700;
        color: #6c6c6c;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .navgition .navbar .navbar-social ul li a:hover {
          color: #02a14a; }

.header-hero {
  height: 850px;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero {
      height: 700px; } }
  @media (max-width: 767px) {
    .header-hero {
      height: 650px; } }
  .header-hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
    background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
    background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12)); }
  .header-hero .header-content {
    padding-top: 195px;
    position: relative;
    z-index: 9; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-hero .header-content {
        padding-top: 130px; } }
    @media (max-width: 767px) {
      .header-hero .header-content {
        padding-top: 120px; } }
    .header-hero .header-content .header-title {
      font-size: 44px;
      line-height: 55px;
      color: #121212;
      font-weight: 600; }
      @media (max-width: 767px) {
        .header-hero .header-content .header-title {
          font-size: 30px;
          line-height: 40px; } }
    .header-hero .header-content .text {
      font-size: 20px;
      line-height: 32px;
      color: #6c6c6c;
      margin-top: 16px; }
      @media (max-width: 767px) {
        .header-hero .header-content .text {
          font-size: 16px;
          line-height: 24px; } }
  .header-hero .header-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .header-hero .header-shape img {
      width: 100%; }

 /* 
 TEAM
 */
 .what_taital {
  width: 100%;
  float: left;
  font-size: 34px;
  color: #060606;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
 .what_taital2 {
  width: 100%;
  float: left;
  font-size: 20px;
  color: #08b602;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
 .team_section{
  width: 100%;
  float: left;
}
.what_text_1 {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  color: #060606;
  text-align: center;
}
.team_section_2{
  width: 100%;
  float: left;
}
.image_7{
  width: 100%;
  float: left;
  text-align: center;
}
.readable_text{
  width: 100%;
  float: left;
  font-size: 18px;
  text-align: center;
  color: #060606;
  margin-left: 0px;
  font-weight: 450;
}



/* h2 {
  font-size: 20px; } */

.slider-92911 {
  position: relative; }

/* Carousel 4*/
.testimony-29101 .image {
  width: 40%;
  background-size: cover;
  background-position: center center; }
  
  @media (max-width: 991.98px) {
    .testimony-29101 .image {
      height: 300px; } }

.testimony-29101 .text {
  width: 60%;
  padding: 7rem 4rem;
  background: #007bff; }
  .testimony-29101 .text blockquote {
    position: relative;
    padding-bottom: 50px;
    font-size: 20px; }
    .testimony-29101 .text blockquote p {
      color: #fff;
      line-height: 1.8; }
    .testimony-29101 .text blockquote .author {
      font-size: 16px;
      letter-spacing: .1rem;
      position: absolute;
      bottom: 0;
      color: rgba(255, 255, 255, 0.7); }

@media (max-width: 991.98px) {
  .testimony-29101 .image, .testimony-29101 .text {
    width: 100%;
    display: block !important; } }

.slide-one-item {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
  @media (max-width: 991.98px) {
    .slide-one-item .owl-nav {
      display: none; } }
  .slide-one-item .owl-nav .owl-prev,
  .slide-one-item .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000; }
    .slide-one-item .owl-nav .owl-prev span,
    .slide-one-item .owl-nav .owl-next span {
      font-size: 30px; }
    .slide-one-item .owl-nav .owl-prev:hover,
    .slide-one-item .owl-nav .owl-next:hover {
      color: #000; }
    .slide-one-item .owl-nav .owl-prev:active, .slide-one-item .owl-nav .owl-prev:focus,
    .slide-one-item .owl-nav .owl-next:active,
    .slide-one-item .owl-nav .owl-next:focus {
      outline: none; }
  .slide-one-item .owl-nav .owl-prev {
    left: 20px; }
  .slide-one-item .owl-nav .owl-next {
    right: 20px; }
  .slide-one-item .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 2; }
    .slide-one-item .owl-dots .owl-dot {
      display: inline-block; }
      .slide-one-item .owl-dots .owl-dot > span {
        -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        display: inline-block;
        width: 15px;
        height: 3px;
        background: rgba(0, 123, 255, 0.4);
        margin: 3px; }
      .slide-one-item .owl-dots .owl-dot.active > span {
        width: 15px;
        background: #007bff; }

.thumbnail {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  z-index: 99; }
  .thumbnail li {
    display: inline-block; }
    .thumbnail li a {
      display: block;
      margin: 4px; }
      .thumbnail li a img {
        width: 50px;
        border-radius: 50%;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    .thumbnail li.active a img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }

/* 

.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

*/
.title {
  text-align: center;
  padding-bottom: 60px;
}

.title h2 {
  padding: 0px 0px 6px 0px;
  text-transform: uppercase;
  font-weight: 500;
  color: #052501;
  line-height: 46px;
  border-bottom: #052501 solid 1px;
  font-size: 50px;
  max-width: 374px;
  width: 100%;
  margin: 0 auto;
}

offer_h3 {
  font-size: 18px;

  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}
.offer_p {
  margin: 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}
.offer {
  padding-top: 90px;
}

.offer-bg {
  background: #052501;
  padding: 90px 0px;
 
  position:absolute;
  left: 0%;
  width: 100%;
}

.margin {
  margin-bottom: 30px;
}

.offer .offer-bg {
  background: #052501;
  text-align: center;
  padding: 60px 0px;
 
}
.offer .offer-bg .offer_box {
  text-align: center;
}
.offer .offer-bg .offer_box figure {
  margin: 0;
}
.offer .offer-bg .offer_box figure img {
  width: 100%;
}
.offer .offer-bg .offer_box h3 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 30px;
}
.offer .offer-bg .offer_box p {
  padding-top: 35px;
  font-size: 17px;
  line-height: 23px;
  color: #fff;
}

.read-more {
  max-width: 212px;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  background: #fff;
  color: #000 !important;
  padding: 12px 0px;
  width: 100%;
  font-size: 17px;
  float: left;
  border-radius: 10px;
  margin-top: -100px;
}

.read-more:hover {
  background: #30880d;
  color: #fff !important;
}

.margin_ttt {
  margin-top: 100px;
}
.margin-lkk {
  margin-top: 200px;
}

.about {
  padding: 90px 0;
  width: 100%;
}

.about .about_img figure {
  margin: 0px;
}

.about .about_box {
  text-align: left;
}

.about .about_box h2 {
  font-weight: 500;
  font-size: 40px;
  color: #163f03;
  line-height: 55px;
  padding-bottom: 7px;
  display: block;
  text-transform: uppercase;
  padding: 0px 0px 6px 0px;
  border-bottom: #163f03 solid 1px;
}

.about .about_box p {
  font-size: 17px;
  line-height: 33px;
  color: #4c4a49;
  padding: 40px 0px;
  font-weight: 500;
}
.about .about_box a {
  color: #fff;
  font-size: 17px;
  line-height: 29px;
  background: #052501;
  border: #052501 solid 1px;
  padding: 12px 40px;
  display: inline-block;
  width: 231px;
  text-align: center;
  border-radius: 18px;
}
.about .about_box a:hover {
  color: #fff;
  background: #4bc714;
  border: #4bc714 solid 1px;
}
.about_img {
  margin-top: 25px;
}
.about_img figure {
  margin: 0;
}
.about_img figure img {
  width: 100%;
}

.tituloSigaf {
  letter-spacing: 0;
  font-weight: bold;
  position: relative;
  padding: 0 0 10px 0;
  line-height: normal;
  color: #027a3e;
  margin: 0;
}
.subTituloSigaf {
  margin: 0px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.contenedorLandingSIGAF img {
  width: 40vw;
  animation: float 2.5s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}
/* button */
/* .btn {
  border-radius: 8px;
}

.btn-success,
.btn-outline-secondary {
  padding: 12px 20px;
}

.btn-success:hover {
  background-color: rgb(5, 192, 5);
  border-color: rgb(5, 192, 5);
  box-shadow: 9px 7px 28px 6px rgba(0,0,0,0.32);
  -webkit-box-shadow: 9px 7px 28px 6px rgba(0,0,0,0.32);
  -moz-box-shadow: 9px 7px 28px 6px rgba(0,0,0,0.32);
} */

/* .btn-outline-secondary {
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-secondary:hover {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-secondary:focus {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}
 */
/* ------------------------------------------------------------ 
Navbar
---------------------------------------------------------------*/

.navbar .btn-outline-secondary {
  border: 1px solid var(--gray-2);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 16px;
}

.navbar {
  padding: 32px 0;
}

.nav-link {
  margin-left: 41px;
  font-size: 16px;
  color: var(--gray-1);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var(--black);
}

/* ------------------------------------------------------------ 
Hero setion
---------------------------------------------------------------*/
section.hero {
  padding: 80px 0;
}

section.hero .text {
  font-weight: 800;
  font-size: 48px;
  line-height: 73px;
  color: var(--black);
}

.buttons {
  padding-top: 69px;
}

.buttons .btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

/* ------------------------------------------------------------ 
Setup setion
---------------------------------------------------------------*/
section.setup {
  padding: 287px 0;
}

section.setup .text-header h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color: var(--black);
}

section.setup .text-header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-1);
  padding: 27px 0;
}

section.setup .icons {
  padding: 27px 0;
}

section.setup h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 18px;
}

section.setup .desc p {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: var(--gray-1);
  max-width: 284px;
  margin: 0 auto;
}

/* ------------------------------------------------------------ 
Information setion
---------------------------------------------------------------*/
section.information .text-information {
  padding: 134px 0;
}

section.information h5 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color: var(--black);
}

section.information p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--gray-1);
  padding-top: 20px;
}

section.information .info-1 {
  padding: 183px 0;
}

/* ------------------------------------------------------------ 
Footer setion
---------------------------------------------------------------*/

footer .copy {
  margin-top: 32px;
  font-size: 14px;
  color: var(--gray-1);
  line-height: 17px;
  font-weight: 400;
}

/* ------------------------------------------------------------ 
Responsive section
---------------------------------------------------------------*/
@media (max-width: 576px) {
  section.hero,
  section.setup,
  section.information {
    text-align: center;
  }

  /* ------------------------------------------------------------ 
    Navbar
    ---------------------------------------------------------------*/
  .navbar {
    padding: 20px 0;
  }

  .nav-link {
    margin-left: 0;
  }

  /* ------------------------------------------------------------ 
    Hero setion
    ---------------------------------------------------------------*/
  section.hero img {
    padding-top: 2.5rem;
  }

  section.hero .text {
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
  }

  .buttons .btn {
    display: block;
    margin: 1rem 0;
  }

  .buttons .ms-3 {
    margin-left: 0 !important;
  }

  /* ------------------------------------------------------------ 
    Setup setion
    ---------------------------------------------------------------*/
  section.setup {
    padding: 50px 0;
  }

  /* ------------------------------------------------------------ 
    Footer setion
    ---------------------------------------------------------------*/
}
